$greyWithOp: #d0d0d040;
$grey: #d0d0d0;
$greyLight: #F3F3F3;
$greyDark: #707070;
$red: #B00020;
$blueLight: #0CCAEA;
$purple: #7E6CC0;
$blueVeryLight: #97DCE1;
$blueVeryLightTransparent: #97DCE120;
$limeGreen: #5AEC4F;
$warningYellow: #FFCC00;
$white:#FFF;
$cornFlowerBlue: #003e81;